.header-login {
  text-align: center;
  margin-bottom: 40px;
}

.login {
  padding: 80px 0;
}

.login form {
  margin: 0 auto;
  max-width: 320px;
}

.center-button {
  margin:0px auto;
  text-align: center;
}
