.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
   margin:0;
   padding:0;
   height:100%;

   max-width: 100%;
   overflow-x: hidden; /* Disable scroll horizontally - for mobile purpose*/
}
.logo{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.wrapper-app {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh; /* the vh instead of % makes the trick to set the footer on the bottom of the page*/
  height:100%;
}

.content-homepage {
  margin: 0 auto; /* this will center the page */
  width: 640px; /*  use your width here */

  padding-bottom: 0.8rem; /*Space reserved for the footer*/
}

.content {
  padding-top: 32px;
  margin: 0 auto; /* this will center the page */
  width: 640px; /*  use your width here */

  padding-bottom: 0.8rem; /*Space reserved for the footer*/
}

.footer-span {
  display: block;
  font-size:60%;
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(248,249,250);
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.logo-footer {
  padding-top: 4px;
}

.my-carousel {
  max-width: 100%;
  height:300px;
  background: black;
}

.my-carousel-image {
  height:300px;
}